<main class="main">
    <div class="main_container">
        <h1 class="">Pages</h1>
        <ul class="pageList">
            <li class="pageList_item"><a href="./signIn">Sign in</a></li>
            <li class="pageList_item"><a href="/signUp">Sign up</a></li>
            <li class="pageList_item"><a href="/chatList">Chat list</a></li>
            <li class="pageList_item"><a href="/profile">Profile</a></li>
            <li class="pageList_item"><a href="/notFound">404</a></li>
            <li class="pageList_item"><a href="/error">500</a></li>
        </ul>
    </div>

</main>
