<main class="chats__container">
    <section class="chats__leftPanel">
        <a id="profileLink" class="chats__profileLink" href="/profile">Профиль&nbsp;&nbsp;></a>
        <div class="chats__searchContainer">
            <input id="search" name="search" class="chats__inputSearch" placeholder="Поиск"/>
        </div>
        <div class="chats__chatsListContainer">
            {{chatsList}}
        </div>
    </section>
    <section class="chats__messagesContainer">
        <div class="messagesContainer__chatInfo">
            <div class="messagesContainer__chatInfoWrapper">
                <div class="messagesContainer__chatAvatar"></div>
                <div class="messagesContainer__chatName"></div>
            </div>
            <div class="messagesContainer__chatActions">
            </div>
        </div>
      <div class="messagesList">
          <div class="messagesList__date"></div>
         {{messageList}}
      </div>
        <div class="messagesContainer__inputContainer">
            <div class="inputContainer__addSomething"></div>
            <input id="inputMessage" name="inputMessages" class="inputContainer__input" maxlength="250" />
            <button class="inputContainer__submitBtn"></button>
        </div>
    </section>
</main>
