<main class="main">
    <div class="signIn_container">
        <h1 class="signIn_title">Вход</h1>
        {{{fieldset}}}
        <div class="signIn_buttonBlock">
            {{{btnPr}}}
            <a href="/signUp" class="link">Нет аккаунта?</a>
        </div>

    </div>

</main>


