<main class="main">
    <div class="signUp_container">
        <h1 class="signUp_title">Регистрация</h1>
        {{{fieldset}}}

        <div class="signUp_buttonBlock">
            {{{btnPr}}}
            <a href="/signIn" class="link">Войти</a>

        </div>

    </div>

</main>


